.navbar {
    border-bottom : 1px solid #e8e8e8;
}

.logo {
    font-weight: 500;
}

.post-heading {
    font-weight: 600;
    font-size: 20px;
}

.post-details {
    font-weight: 400;
    font-size: 13px;
    color : #999;
}

.post-author {
    font-weight: 600;
    color: #000;
}

.post-actions {
    font-weight: 600;
    font-size: 11px;
}

.time-ago {
    color : #c9c9c9;
}

.post-votes {
    font-size: 24px;
    font-weight: 600;
    color: #a6afca;
}

.post-upvote a, .post-downvote a{
    color : #a6afca;
}


.channels a {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color : #a6afca;
}

.classified-heading {
    font-weight: 600;
    font-size: 14px;
}

.color-primary {
    color: #ff9966;
}

.jumbotron .heading{
    color:#000;
    font-size: 28px;
    font-weight: 700;
}

.jumbotron .sub-heading{
    color:#999;
    font-size: 18px;
    font-weight: 200;
}

.btn-custom {
    background: #ff9966;
    color:#fff;
    font-weight: 600;
    border: none;
}

.btn-custom:hover {
    background: #ffad84;
    border: none;
}

.btn-custom:active {
    background: #ffad84;
    border: none;
}

.add-new {
    color: #fff;
    background: rgb(255, 153, 102);
}
